.container {
    border: 4px solid;
    display: grid;
    grid-template:
        "header header header" 80px
        "main . aside" 350px
        "footer footer footer" 130px
        / 2fr 100px 1fr;
}
.container > * {
    border: 1px solid lightgray;
}
header {
    grid-area: header;
}
main {
    grid-area: main;
}
aside {
    grid-area: aside;
}
footer {
    grid-area: footer;
}