.section {
    $w: 100px;
    $h: 200px;
    width: $w;
    height: $h;
    border: 1px solid;
    .item {
        width: $w;
        height: $h;
        border: 1px solid red;
    }
    @at-root .box {
        width: $w;
        height: $h;
        border: 1px solid blue;
    }
}