.box {
    width: 400px;
    height: 600px;
    border: 2px solid red;
    margin: 50px;
    background-image: url(../images/l9791188331796.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}