body {
    height: 400px;
}
.grand-parent {
    width: 400px;
    height: 300px;
    padding: 30px 100px 100px 30px;
    border: 2px dashed black;
}
.parent {
    width: 400px;
    height: 300px;
    border: 2px dashed gray;
}
.child {
    width: 100px;
    height: 80px;
    background: lightskyblue;
}
.fixed {
    position: fixed;
    bottom: 10px;
    right: 10px;
}