.box-group {
    display: flex;
}
.box-group .box {
    width: 100px;
    height: 100px;
    background: rgb(247,192,129);
    border: 1px solid black;
    margin-right: -30px;
    box-shadow: 5px 10px 5px rgba(247, 129, 192, .7);
}
.box-group .box:nth-child(2n) {
    margin-top: 30px;
}
.box1 {
    position: relative;
}
.box2 {
    position: relative;
}
.box3 {
    position: relative;
    z-index: 1;
}
.box4 {
    position: relative;
    z-index: 1;
}
.box5 {
    position: relative;
}
